//Mixins

// Buttons
@mixin btn ($bg_clr) {
  width: 96%;
  padding: .9em 0;
  margin-bottom: 1.5em;
  border-radius: $bdr;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bolder;
  background-color: $bg_clr;
}

// Grid
@mixin grid ($bg_clr) {
  width: 100%;
  padding: .7em .7em .7em .5em;
  margin-bottom: .5em;
  border-radius: $bdr;
  border: none;
  color: rgba(0, 0, 0, 0.349);
  font-size: .9rem;
  font-weight: $font-bold;
  background-color: $bg_clr;
}

// Media Queries
@mixin mq($break) {
  @if $break == 'sm' {
    @content;
  }
  
  @else if $break == 'md' {
    @media (min-width: $break-md) {
      @content;
    }
  }
  
  @else if $break == 'lg' {
    @media (min-width: $break-lg) {
      @content;
    }
  }
  
  @else if $break == 'xl' {
    @media (min-width: $break-xl) {
      @content;
    }
  }
}

//Flexbox
@mixin flex {
  display: flex;
  @content;
}



