// Variables

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-primary: 'Open Sans', sans-serif;
$txt-align: left;
$font-bold: bold;

// Colors
$gray: #878787;
$white: #FFF;
$color-primary: #4CD9B5; // aqua green
$color-secondary: #46DAF4; // aqua blue

// Button colors
$btn-default: $color-secondary; // aqua blue
$btn-success: #55C87C; // money green
$btn-error: #DF686A; // salmon red
$btn-warning: #FF6755; // salmon orange
$btn-info: #8871BC; // purple

// Grid system colors
$grid3: #D5B6E7; // light lavender
$grid4: #71E2F6; // light blue
$grid5: #98D7A1; // green
$grid6: #359FC2; // dark blue
$grid7: #E6A2A1; // salmon red
$grid8: #EFA28A; // orange
$ctr_grid7:#E4A2A2; // salmon
$grid12: $color-primary; // aqua green

// Borders
$bdr: .3em;

// Media Query
$break-md : 768px;
$break-lg : 992px;
$break-xl : 1200px;
