// classes used

// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors

.container {
  margin: 2em;
}

.grid {
  &__col--12 {
    @include mq('md') {
      @include flex {
        flex-grow: 1;
      }
      &.theme__colors {
        @include grid ($color-primary);
      }
    }
    
  }
  
  &__row {
    margin-bottom: 3em;
    @include mq('md') {
      @include flex {
        justify-content: space-between;
      }
    }
    @include mq('lg') {
      @include flex {
        justify-content: space-between;
      }
    }
  }
  
  &__col--4.theme__colors {
    @include grid ($color-secondary);
	}
  
  &__col--6 {
    @include mq('md') {
      @include flex {
        align-self: center;
      }
    }
    &.theme__colors {
      @include grid ($grid6);
    }
  }
  
  &__col--3.theme__colors {
    @include grid ($grid3);
  }
  
  &__col--5.theme__colors {
		@include grid ($grid5);
	}
  
  &__col--7.theme__colors {
		@include grid ($grid7);
	}
  
  &__col--8.theme__colors {
		@include grid ($grid8);
  }


}

