// classes used

// .nav__item
.nav {
  //@include mq('md') {
    //display: flex;
    //flex-direction: row;
    //align-content: space-between;
  //}
  // @include mq {
  //   margin: 0;
  //   padding: 0;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: flex-end;
  // }
  @include mq('md') {
    @include flex {
      padding-top: .5em;
      padding-bottom: 0;
      justify-content: flex-end;

    }
  }
  &__item {
    padding: 1em 0;
    @include mq('md') {
      padding: .5em 1em;
    }
    &:hover {
      background-color: $color-primary;
      border-radius: $bdr;
    }
    a {
      text-decoration: none;
      font-size: 1rem;
      color: $gray;
      &:hover {
      color: $white;
      }
    }
  }
}
